
.icon-user:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-cancel-circled2:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attach:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */
.icon-pin:before { content: '\e807'; } /* '' */
.icon-tag:before { content: '\e808'; } /* '' */
.icon-tags:before { content: '\e809'; } /* '' */
.icon-edit:before { content: '\e80a'; } /* '' */
.icon-bell:before { content: '\e80b'; } /* '' */
.icon-login:before { content: '\e80c'; } /* '' */
.icon-logout:before { content: '\e80d'; } /* '' */
.icon-upload:before { content: '\e80e'; } /* '' */
.icon-download:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-phone:before { content: '\e811'; } /* '' */
.icon-email:before { content: '\e812'; } /* '' */
.icon-star-empty-1:before { content: '\e813'; } /* '' */
.icon-star-1:before { content: '\e814'; } /* '' */
.icon-list-alt:before { content: '\e815'; } /* '' */
.icon-cancel-circled:before { content: '\e816'; } /* '' */
.icon-cancel:before { content: '\e817'; } /* '' */
.icon-ok-circled2:before { content: '\e818'; } /* '' */
.icon-ok-circled:before { content: '\e819'; } /* '' */
.icon-ok:before { content: '\e81a'; } /* '' */
.icon-gift:before { content: '\e81b'; } /* '' */
.icon-tag-1:before { content: '\e81c'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-venus-mars:before { content: '\f228'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-address-book-o:before { content: '\f2ba'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */